* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: blue;
    border: 1px solid black;
    color: white;
    overflow: auto;     
}

.navbar--logo {
    float: left;
}

.navbar--logo-titulo {
    padding: 10px;
}

.navegacion {
    float: right;
}

.navegacion ul li {
    border: 1px solid white;
    border-radius: 25%;
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 10px;
}

.modal {
    background-color: blanchedalmond;
    border: 3px solid #9b8f8f;
    border-radius: 20px;
    height: 519px;
    margin: auto;
    margin-top: 40px;
    width: 70%; 
}

.modal1--contenedor {
    background-color: cadetblue;
    border: 3px solid steelblue;
    border-radius: 10px;
    height: 153px;
    margin: 10px;
}

.modal1--contenedor-titulo {
    border: 1px solid steelblue;
    float: left;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
    
}

.modal1--contenedor-titulo2 {
    border: 1px solid steelblue;
    float: left; 
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width:30%; 
}

.modal1--contenedor-titulo3 {
    border: 1px solid steelblue;
    float: left;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;   
}

.modal1--contenedor-titulo h1 {
    text-align: center;
}
.modal1--contenedor-titulo2 h1 {
    text-align: center;
}
.modal1--contenedor-titulo3 h1 {
    text-align: center;
}


.modal2--contenedor {
    background-color: chocolate;
    border: 3px solid brown;
    border-radius: 10px;
    height: 153px;
    margin: 10px;
}

.modal2--contenedor-titulo {
    border: 1px solid brown;
    float: right;
    padding: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 30%;
    
}

.modal2--contenedor-titulo2 {
    border: 1px solid brown;
    float: right;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width:30%;     
}

.modal2--contenedor-titulo3 {
    border: 1px solid brown;
    float: left;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
}

.modal2--contenedor-titulo h1 {
    text-align: center;
}

.modal2--contenedor-titulo2 h1 {
    text-align: center;
}

.modal2--contenedor-titulo3 h1 {
    text-align: center;
}

.modal3--contenedor {
    background-color: cyan;
    border: 3px solid darkcyan;
    border-radius: 10px;
    height: 153px;
    margin: 10px;
}

.modal3--contenedor-titulo {
    border: 1px solid darkcyan;
    display: inline-block;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
}

.modal3--contenedor-titulo2 {
    border: 1px solid darkcyan;
    float: right;
    padding: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 30%;
}

.modal3--contenedor-titulo3 {
    border: 1px solid darkcyan;
    float: left;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
}

.modal3--contenedor-titulo h1{
    text-align: center;
}

.modal3--contenedor-titulo2 h1{
    text-align: center;
}

.modal3--contenedor-titulo3 h1{
    text-align: center;
}